.section_register {
  background-color: #5f62ac;
}
.form__container h2 {
  font-size: 34px;
  font-family: 'robotolight';
  line-height: inherit;
padding-top: 50px;
padding-top: 56px;
}

.register__form {
  margin: 30px 0;
}
